@media (max-width: 1560px) {
  body {
    font-size: 14px;
    line-height: 18px;
  }
  .title {
    font-size: 36px;
    line-height: 42px;
  }
  .header-decor {
    font-size: 15px;
    line-height: 20px;
    max-width: 300px;
    width: 100%;
    letter-spacing: 3px;
  }
  .header-logo__img {
    width: 124px;
    height: 96px;
  }
  .header-submenu__wrapper--contacts {
    padding-top: 20px;
    top: 50px;
  }
  .header-submenu__contacts {
    .header-submenu__item + .header-submenu__item {
      margin-left: 10px;
    }
  }
  .header-submenu__link-image {
    width: 32px !important;
    height: 32px !important;
  }

  .hero-image {
    height: 500px;
  }
  .hero-content__title-box {
    font-size: 48px;
    line-height: 54px;
 
  }
  .hero-content__btn {
    max-width: 230px;
    padding: 15px 25px;
  }
  .hero-content__tabs.tabs {
    max-width: 450px;
  }
  .hero-content__form {
    .input {
      max-width: 190px;
      width: 100%;
    }
  }

  .services-describe {
    max-width: 720px;
  }
  .services-list__item-link {
    font-size: 22px;
    line-height: 26px;
  }
  .services {
    .slick-arrow {
      bottom: -4px;
    }
  }
  .about-aside__social-img {
    width: 28px;
    height: 28px;
  }
  .popup-appointment {
    padding-top: 120px;
    .close-btn {
      top: 85px;
      right: 20px;
    }
  }
  .contact {
    height: 200px;
    &:after {
      top: -20px;

      height: 220px;
    }
    .form-button {
      padding: 12px 35px;
    }
  }

  // .hero-content {
  //   padding: 80px 60px;
  // }
  // .hero-content__title--decor {
  //   max-width: 170px;
  // }
}
