@media (max-width: 1560px) {
  body {
    font-size: 13px;
    line-height: 15px;
  }
  .header-decor {
    font-size: 15px;
    line-height: 20px;
    max-width: 300px;
    width: 100%;
    letter-spacing: 3px;
  }
  .header-logo__img {
    width: 124px;
    height: 96px;
  }
  .header-submenu__wrapper--contacts {
    padding-top: 20px;
    top: 50px;
  }
  .header-submenu__contacts {
    .header-submenu__item + .header-submenu__item {
      margin-left: 10px;
    }
  }
  .header-submenu__link-image {
    width: 32px !important;
    height: 32px !important;
  }

  .hero-image {
    height: 500px;
  }
  .hero-content__btn {
    max-width: 230px;
    padding: 15px 25px;
  }
  .hero-content__tabs.tabs {
    max-width: 450px;
  }
  // .hero-content {
  //   padding: 80px 60px;
  // }
  // .hero-content__title--decor {
  //   max-width: 170px;
  // }
}
