// $default: #8d8d8d;
// $hover-accent: #06354d;
// $hover-accent: #2197d2;
$hover-accent: #6cabcc;
// $title: #29282d;
$bg: #0c5484;
// $bg: #215f8d;
$text: #708090;


%roboto-500 {
    font-family: 'Roboto Slab', serif;;
    font-weight: 500;
}
%roboto-700 {
    font-family: 'Roboto Slab', serif;;
    font-weight: 700;
}


// %checkbox-hidden,
// %radio-hidden {
//     width: 1px;
//     height: 1px;
//     overflow: hidden;
//     clip: rect(0 0 0 0);
//     position: absolute;
// }