@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  border-bottom: 1px solid #06354d;
  background-color: #fff;
  z-index: 10;
  position: sticky;
  top: 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }
  &-logo {
    margin: 0 10px;
  }
  &-logo__box {
    display: flex;
    align-items: center;
  }
  &-logo__img {
    width: 166px;
    height: 144px;
    object-fit: cover;
  }
  &-menu {
    position: relative;
    margin-right: 15px;
  }
  &-menu__list {
    display: flex;
  }
  &-menu__link {
    position: relative;
    text-transform: uppercase;
    color: $text;
    letter-spacing: 0.7px;
    @extend %roboto-500;
  }
  &-menu__item {
    & + .header-menu__item {
      margin-left: 18px;
    }
    svg {
      fill: $text;
    }
    &:hover {
      .header-submenu__wrapper {
        opacity: 1;
        visibility: visible;
      }
      .header-menu__link {
        color: $hover-accent;
      }
      svg {
        fill: $hover-accent;
      }
    }
  }
  &-submenu__wrapper {
    padding: 25px 40px 10px 40px;
    position: absolute;
    background-color: #fff;
    left: -40px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    display: flex;
    border-radius: 6px;
    flex-wrap: wrap;
  }
  &-submenu__wrapper.header-submenu__wrapper--comunites {
    justify-content: space-between;
  }
  &-submenu__wrapper--contacts {
    padding: 5px 15px;

    margin: 0;
    left: auto;
    right: -20px;
    top: 80px;
  }
  &-submenu__wrapper.header__submenu--active {
    opacity: 1;
    visibility: visible;
  }
  &-submenu {
    margin-bottom: 20px;
    margin-right: 70px;
  }
  &-submenu__contacts {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    align-items: center;
    margin: 0;
    .header-submenu__item + .header-submenu__item {
      margin-left: 15px;
    }
  }

  &-submenu__link-image {
    object-fit: cover;
    width: 42px;
    height: 42px;
    transition: all 0.2s;
  }
  &-submenu__link-image:hover {
    transform: scale(1.2);
  }
  &-submenu.header-submenu--comunites {
    .submenu-box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-auto-flow: column;
      column-gap: 20px;
    }
  }
  &-submenu__title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cecece;
    color: $hover-accent;
    @extend %roboto-700;
    width: 100%;
  }
  &-submenu__item {
    margin-bottom: 10px;
  }
  &-submenu__item--communites {
    margin-bottom: 5px;
  }

  &-submenu__link {
    &:hover {
      color: $hover-accent;
    }
  }
  &-decor {
    font-family: "Charmonman", cursive;
    font-size: 22px;
    line-height: 28px;
    max-width: 410px;
    width: 100%;
    display: block;
    color: #f8ba5f;
    align-self: center;
    text-shadow: 2px 2px 1px rgba(248, 186, 95, 0.2);
    letter-spacing: 3px;
    margin-top: 25px;
    background-image: linear-gradient(
      to right,
      #462523 0,
      #cb9b51 89%,
      #f6e27a 23%,
      #efebb0 22%,
      #f8ba5f 12%,
      #cb9b51 10%,
      #462523 150%
    );
    color: transparent;
    background-clip: text;
  }
}

.footer {
  background-color: $bg;
  color: #fff;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
  }
  .privacy-policy {
    color: #fff;
    margin-left: 30px;
    padding-left: 15px;
    position: relative;
  }
  .privacy-policy::before {
    content: "| |";
    left: -15px;
    position: absolute;
  }
  .privacy-policy:hover {
    text-decoration: underline;
  }
}

//main

//start section hero

.hero {
  position: relative;
  &-image {
    max-width: 100%;
    height: 600px;
    //  position: relative;
    img {
      display: block;
      height: 100%;
      width: 100%;
      object-position: left;
      object-fit: cover;
    }
  }
  &-image::after {
    content: " ";
    background: rgba(34, 34, 34, 0.45);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &-content {
    max-width: 1200px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 20px 0;
    height: 430px;
  }
  &-content__title-box {
    font-size: 56px;
    line-height: 62px;
    color: #fff;
    @extend %roboto-700;
    margin-right: 15px;
    text-shadow: 1px 1px 2px rgba(12, 84, 132, 1);

    .hero-content__title {
      font-size: inherit;
      padding-left: 35px;
      margin-bottom: 25px;
    }
    span {
      color: $hover-accent;
    }
    &--decor {
      display: block;
      max-width: 120px;
      padding: 10px 10px 10px 10px;
      margin-left: 25px;
      margin-bottom: 10px;
      background-color: rgba(108, 171, 204, 0.3);
      border-radius: 4px;
    }
  }
  &-content__btn {
    font-size: 13px;
    line-height: 15px;
    margin-left: 31px;
    border-radius: 4px;
    display: block;
    max-width: 250px;
    padding: 20px 35px;
    color: #fff;
    text-transform: uppercase;
    background-color: $bg;
    transition: all 0.4s ease-in-out;
  }
  &-content__btn:hover {
    background-color: $hover-accent;
  }
  &-content__tabs.tabs {
    position: relative;
    max-width: 500px;
    width: 100%;
    .tabs__list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-start;
      align-items: start;
    }

    .tabs__item:not(:last-child) {
      margin-right: 25px;
    }

    .tabs__btn {
      padding: 6px 0px;
      margin-bottom: 15px;
      border: none;
      background-color: transparent;
      color: #fff;
      cursor: pointer;
      font-size: 18px;
      @extend %roboto-500;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      border-bottom: 3px solid transparent;
      transition: all 0.3s;
    }

    .tabs__btn:hover {
      border-bottom: 3px solid #fff;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      transition: all 0.3s;
    }

    .tabs__btn--active {
      border-bottom: 3px solid $hover-accent;
      color: $hover-accent;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      pointer-events: none;
    }

    .tabs__content {
      display: none;
      background-color: rgba(108, 171, 204, 0.3);
      border-radius: 4px;
      color: #fff;
    }

    .tabs__content--active {
      display: block;
    }

    .tabs-content__box {
      padding: 20px 30px;
    }
  }
  &-content__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .select__label {
      overflow: hidden;
      max-height: 80px;
      transition: max-height 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;
    }

    .select__label.select-hide {
      max-height: 0px;
      visibility: hidden;
      opacity: 0;
      transition: max-height 0.3s ease-in-out, visibility 0s linear 0.3s,
        opacity 0.3s linear;
    }

    .select__label.select-hide.visible {
      visibility: visible;
      opacity: 1;
      transition: max-height 0.3s ease-in-out, visibility 0s linear,
        opacity 0.3s linear;
    }

    select {
      margin-top: 5px;
      color: $text;
      padding: 10px 10px 10px 5px;
    }

    .form-button {
      font-size: 13px;
      line-height: 15px;
      border-color: transparent;
      border-radius: 4px;
      display: block;
      max-width: 250px;
      padding: 15px 25px;
      color: #fff;
      text-transform: uppercase;
      background-color: $bg;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }
    .form-button.form-button--buy {
      max-width: 300px;
      width: 100%;
    }
    .form-button:hover {
      background-color: $hover-accent;
    }
    .form-req {
      color: $hover-accent;
    }
    .input {
      margin-top: 5px;
      padding: 10px 10px 10px 5px;
      max-width: 210px;
      display: block;
      width: 100%;

      margin-bottom: 15px;
    }
    .form__box {
  width: 100%;
 
}
.form-radio__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 100%;
}
.contact__label {
  margin: 20px 0;
  color: $bg;
  text-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  span {
    background-color: #fff;
    padding: 12px 30px;
    transition: all 0.4s;
    border-radius: 8px;
  }
  span.active {
    background-color: $hover-accent;
    color: #fff;
  }
}

    .input.input-radio {
      position: absolute;
      margin-bottom: 0;
      opacity: 0;
      visibility: hidden;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}

.text {
  padding: 40px 220px 120px 20px;
}

@import "media";
